body {
  margin: auto;
  width: 640px; 
  font-family: 'Lexend Deca', sans-serif; 
  color: #2E475D;
  font-size: 140%;
  text-align: center;
}

.block1 {
  float: left;
}

.block2 {
  float: right;
}