/* MOCAN Bogdan */
body {
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(124, 196, 250);
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    border: solid;
    border-color: #3388CC;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    text-align: center;
    margin-bottom: 50px;
}

section {
    width: 780px;
    height: 1800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    padding-bottom: 40px;
}

.block1, .block2, .block3, .block4, .block5 {
    margin-bottom: 370px; 
}

h1, h2 {
    font-weight: bold;
    font-size: 20px;
    color: #3388CC;
}

.b1 {
    float: left;
    width: 60%;
}

.b2 {
    float: right;
    width: 35%;
    text-align: right;
}

.b2 img {
    border-radius: 50%;
    border: 3px solid #3388CC;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.b3, .b4, .b5, .b6, .b7 {
    float: left;
    width: 45%;
}

p {
    margin-bottom: 10px;
}

.b7 ul {
    list-style-type: disc;
    padding-left: 20px;
}

.b7 ul li {
    margin-bottom: 10px;
}

.block5 ul {
    list-style-type: none;
    padding-left: 20px;
}

.block5 ul li {
    margin-bottom: 10px;
}

hr {
    float: left;
}

footer {
    background-color: white;
    border: solid;
    border-color: #3388CC;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    text-align: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    body {
        transform: scale(0.48); 
        transform-origin: top left;
    }
}